@inherits ChartBase

@if ((ChartOptions.IndexOf("bubble") > -1) || (ChartOptions.IndexOf("bar") > -1) || (ChartOptions.IndexOf("area") > -1))
{
    <div class="card" @onmouseover="ClearNotificationOnHover">
        <div class="card-header">@ChartTitle
            <span class="badge badge-danger" style="display: inline-flex; justify-content: flex-end; @NotificationStyle">Update!</span>
        </div>
        <div class="card-body">
            <div id="@ChartId"></div>
        </div>
    </div>   
}
else
{
    <div class="card split" @onmouseover="ClearNotificationOnHover">
        <div class="card-header">@ChartTitle
            <span class="badge badge-danger" style="display: inline-flex; justify-content: flex-end; @NotificationStyle">Update!</span>
        </div>
        <div class="card-body">
            <div id="@ChartId"></div>
        </div>
    </div>
}